<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/comment.css">

    <title></title>
</head>

<body>
    <form action="#" method="post">
        <div class="sendcomment">
            <div class="comment">
            <textarea placeholder="add a comment..." class="textcomment" name="comment" id=""></textarea>
            <button class="send-imgcomment">
                <input type="image" src="./../assets/send-horizontal 1.svg" alt="Submit">
            </button>
            </div>
        </div>
    </form>
    {{.}}
</body>

</html>